
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

*{
  --dark-cyan: hsl(180, 29%, 50%);
  --light-Grayish-Cyan-bg: hsl(180, 52%, 96%);
  --light-Grayish-Cyan-filter: hsl(180, 31%, 95%);
  --dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --very-dark-Grayish-Cyan: hsl(180, 14%, 20%);

  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}